#canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.body {
  background: #e8e0da;
  height: 166vw;
  border-radius: 4.5vw 4.5vw 10vw 4.5vw;
  overflow: visible;
  position: relative;
  z-index: 2;
  margin-top: 5vw;
}

.switch {
  position: absolute;
  width: 6vw;
  height: 4vw;
  background: #848190;
  border: none;
  top: -4vw;
  left: 13%;
  border-radius: 100% 100% 0 0;
  transition: all ease 0.1s;
}

.on .switch {
  left: 18%;
}

.screen-border {
  position: absolute;
  top: 9%;
  left: 9%;
  width: 82%;
  height: 38%;
  background: #848190;
  border-radius: 5% 5% 19% 5%;
  box-shadow: inset 0px 0px 0px 3px rgba(0, 0, 0, 0.06);
}

.screen {
  position: absolute;
  top: 10%;
  left: 17%;
  width: 66%;
  height: 78%;
  background: #819330;
  box-shadow: inset -12px 4px 23px 0px rgba(0, 0, 0, 0.26), 0px 0px 5px 2px rgba(255, 255, 255, 0.06);
  border-radius: 0.25vw;
}

.screen video {
  display: none;
  position: absolute;
  top: 0;
  filter: opacity(0.2);
}
.power-on .screen video {
  display: block;
}

.screen::before {
  display: none;
}

.power-on .screen::before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background: #819330;
  box-shadow: inset -12px 4px 23px 0px rgba(0, 0, 0, 0.26), 0px 0px 5px 2px rgba(255, 255, 255, 0.06);
  opacity: 0.2;
}

.light {
  position: absolute;
  top: 36%;
  left: 5%;
  width: 2vw;
  height: 1.9vw;
  background: #42312b;
  border-radius: 2vw;
}

.power-on .light {
  background: red;
}

.purple-line {
  position: absolute;
  top: 3%;
  left: 4%;
  width: 92%;
  height: 1.25vw;
  background: #923671;
}

.blue-line {
  position: absolute;
  top: 6%;
  left: 4%;
  width: 92%;
  height: 1.25vw;
  background: #201974;
}

.dot-matrix {
  position: absolute;
  display: inline-block;
  top: 1.75%;
  right: 15%;
  color: white;
  text-transform: uppercase;
  font-size: 2.5vw;
  padding: 1% 1vw;
  background: #848190;
}

.battery {
  position: absolute;
  display: inline-block;
  top: 44%;
  left: 2%;
  color: white;
  text-transform: uppercase;
  font-size: 1.9vw;
}

.d-pad {
  position: absolute;
  height: 26vw;
  width: 26vw;
  top: 59.5%;
  left: 9%;
  background: black;
  background: linear-gradient(52deg, rgba(232, 231, 224, 1) 0%, rgba(223, 215, 208, 1) 100%);
  border-radius: 100vw;
}

.rut-up {
  position: absolute;
  height: 9vw;
  width: 7.6vw;
  top: 0;
  left: 35%;
  border-radius: 0.5vw;
  background: #090708;
}

.rut-down {
  position: absolute;
  height: 9vw;
  width: 7.6vw;
  top: 64%;
  left: 35%;
  border-radius: 0.5vw;
  background: #090708;
}

.rut-left {
  position: absolute;
  width: 9vw;
  height: 7.6vw;
  left: 0;
  top: 35%;
  border-radius: 0.5vw;
  background: #090708;
}

.rut-right {
  position: absolute;
  width: 9vw;
  height: 7.6vw;
  left: 64%;
  top: 35%;
  border-radius: 0.5vw;
  background: #090708;
}

.divet {
  position: absolute;
  width: 7.6vw;
  height: 7.6vw;
  top: 35%;
  left: 35%;
  border-radius: 5vw;
  background: #302f36;
  box-shadow: 0.2vw -0.2vw 0.1vw rgba(0, 0, 0, 0.25) inset, 0.2vw -0.2vw 1vw rgba(255, 255, 255, 0.2) inset;
}

.b-a {
  position: absolute;
  height: 16.6vw;
  width: 35vw;
  top: 61.5%;
  left: 60%;
  background: linear-gradient(to bottom, #eae4dd 0%, #dcd4ce 65%, #dad1cf 100%);
  border-radius: 100vw;
  transform: rotate(-25deg);
}

.b {
  background: red;
  position: absolute;
  height: 12vw;
  width: 12vw;
  top: 13%;
  left: 6%;
  background: #b02965;
  border-radius: 100vw;
  color: #1b269b;
  text-align: center;
  box-shadow: 0px 0.3vw 0.2vw 0 rgba(0, 0, 0, 0.1), 0.2vw -0.2vw 1vw rgba(255, 255, 255, 0.2) inset;
}
.b::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100vw;
  display: block;
  position: absolute;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 8%, rgba(255, 255, 255, 0) 100%);
  transform: rotate(25deg);
}

.b span {
  position: absolute;
  top: 130%;
  text-indent: -0.3vw;
  font-size: 4.4vw;
}

.a {
  left: 60%;
  text-indent: -0.3vw;
}

.start,
.select {
  position: absolute;
  height: 3.5vw;
  width: 14vw;
  top: 81%;
  left: 31%;
  border-radius: 10vw;
  transform: rotate(-25deg);
  color: #1b269b;
  background: #908785;
  background: linear-gradient(to top, #857d79 0%, #938787 49%, #cec3c0 100%);
  text-align: center;
  box-shadow: inset 0px 0px 0px 0.3vw rgba(0, 0, 0, 0.25);
}

.start {
  left: 51%;
}

.start span,
.select span {
  position: absolute;
  display: block;
  text-align: center;
  top: 135%;
  font-size: 4.2vw;
  width: 100%;
}

.speaker {
  position: absolute;
  height: 18vw;
  width: 30%;
  top: 83%;
  left: 65%;
  transform: rotate(-29deg);
  display: flex;
  justify-content: space-between;
}

.speaker > div {
  height: 100%;
  width: 7%;
  background: #908785;
  background: linear-gradient(
    to bottom,
    #9e897e 0%,
    #a79a95 20%,
    #a99f9c 56%,
    #b2a7a4 75%,
    #c1b8b4 80%,
    #beb6b2 90%,
    #ab9e9c 95%,
    #715a50 100%
  );
  border-radius: 2rem;
  overflow: hidden;
}

.speaker > div + div::before {
  display: block;
  content: "";
  height: 70%;
  width: 30%;
  top: 0;
  left: 0;
  background: #2b201d;
}
